<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Site.Title }}</title>
    {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
</head>
<body class="bg-white leading-none text-black">
    {{ block "header" . }}
    {{ end }}

    {{ block "contents" . }}
    {{ end }}

    {{ block "footer" . }}
    {{ end }}

    {{ $manifest := resources.Get "js/manifest.js" }}
    {{ $vendor := resources.Get "js/vendor.js" }}
    {{ $main := resources.Get "js/main.js" }}
    {{ $js := slice $manifest $vendor $main | resources.Concat "js/bundle.js" | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}"></script>
</body>
</html>
